html {
  box-sizing: border-box;
  height: 100%;
  width: 100%
}

*, *:before, *:after {
  box-sizing: inherit;
}

.messages {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 85%;
  overflow-y: scroll;
  padding-bottom: 10px;
}

.avatar {
  width: 50px;
  height: 50px;
  text-indent: -9999px;
}

.message {
  display: flex;
  align-items: center;
  line-height: 1.5;
  width: 100%;
}

.message img {
  align-self: flex-start;
}

.message-body {
  text-align: left;
  word-wrap: break-word;
  white-space: pre-line;
  padding: 0px 25px;
  width: 100%;
  margin: 0;
}

.lightblue {
  background: lightblue;
}

.white {
  background: white;
}

.message-input {
  position: fixed;
  bottom: 0;
  height: 15%;
  width: 100%;
  border-top: solid black 1px;
  padding: 10px 0px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message-input form {
  width: 90%;
}

.message-input textarea {
  width: 100%;
  resize: none;
  padding: 15px;
  font-size: 14px;
}

.avatar-edit {
  display: none;
}

@media screen and (min-width: 599px) {
  .messages {
    padding: 0px 50px 10px;
  }

  .avatar-edit {
    display: flex;
    flex-direction: column;
  }

  .message-input form {
    width: 50%;
  }

  .message-input textarea {
    width: 80%;
    resize: none;
    margin: 0px 10px;
    padding: 15px;
    font-size: 14px;
  }
}
